@page
@model ASP.NETCoreRazorPagesMovieApp.Pages.Movies.IndexModel
<div style=" display: flex; justify-content: center">
<div class="text-center">
    <h1>Movie List</h1>

    @if (Model.Movies != null && Model.Movies.Any())
    {

        <ul class="list-group">
            @foreach (var movie in Model.Movies)
            {
                <li>
                        <a asp-page="/Movies/Details" class="list-group-item list-group-item-action" asp-route-id="@movie.Id">
                        @movie.Title (@movie.Year)
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No movies found.</p>
    }
</div>
</div>