@page
@model ASP.NETCoreRazorPagesMovieApp.Pages.Movies.inputmoviedataModel
@{
}

<div class="text-center">
    <h1 class="display-4">Add a Movie</h1>
    <form method="post">
        <div style=" display: flex; justify-content: center">
            <div style="display: gird; grid-gap: 5px; width: 300px">
                <input asp-for="MovieInfo.Title" class="form-control" type="text" placeholder="Title" />
                <span asp-validation-for="MovieInfo.Title"></span>
                <input asp-for="MovieInfo.Genre" class="form-control" type="text" placeholder="Genre" />
                <span asp-validation-for="MovieInfo.Title"></span>
                <input asp-for="MovieInfo.Rating" class="form-control" type="text" placeholder="Rating" />
                <span asp-validation-for="MovieInfo.Title"></span>
                <input asp-for="MovieInfo.Year" class="form-control" type="text" placeholder="Year" />
                <span asp-validation-for="MovieInfo.Title"></span>
                <input asp-for="MovieInfo.Description" class="form-control" type="text" placeholder="Description" />
                <span asp-validation-for="MovieInfo.Title"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="width: 80px; margin-top: 5px">Submit</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}